/* cart container */
.container{
    min-height: 800px;
    margin: 100px !important;
}

.container h2{
    font-size: 50px;
    font-family: 'aveniregular', sans-serif ;
}

 hr{
    height: 2px;
    background-color: #000;
}

/* cart container */




/* cart item */
.item{  
    display: flex;
    margin: 70px;
    font-family: 'aveniregular', sans-serif ;
    }

    .item img{
        margin-right: 50px;
    }
    
    .item h3{
        font-size: 30px;
    }

    .att{
        font-weight: 500;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .desc{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .desc div{
            margin: 15px !important;
    }

    .choice span{
        padding: 9px;
        width: fit-content !important;
        font-family: 'latolight', sans-serif;
        border: 1px solid ;
        margin: 10px;
        margin-left: 20px;
    }
    .choice span:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    /* cart item */

    /* total */
    .total{
        display: flex   ;
        justify-content: center;
        justify-content:  space-evenly;
        margin: 35px 0px 0px 0px;
}
    .total h3{
        margin-left: 70px;
        font-size: 35px;
        font-family: 'avenirregular', sans-serif;
    }

    .total p{
        font-family: 'latoregular', sans-serif;
        display: flex;
        flex-direction: row;
        margin-left: 120px;
    }

  


    .total div:last-child{
        display: flex;
        flex-direction: column;
        align-self: right !important;
        justify-self: right !important;
        margin: 30px;
    }

    .total div:last-child span{
        display: flex;
        justify-self: center !important;
        align-self: center !important;
        text-align: center;
        margin: 10px;
    }

    .total form button{
        font-size: 40px;
        padding: 10px 70px 10px 70px;
        width: fit-content !important;
    }
    
    /* total */
    




/* media query */
@media screen and (max-width: 800px) {
    /* cart item */
.item{  
    display: flex;
    margin: 30px;
    font-family: 'aveniregular', sans-serif ;
    }

    .item img{
        margin-right: 40px;
    }
    
    .item h3{
        font-size: 20px;
    }

    .att{
        font-weight: 500;
        font-size: 15px;
    }
    
    .desc{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        width: 100%;
    }
    
    .desc div{
        margin: 10px !important;
    }
    
    .choice span{
        font-size: 15px;
        padding: 9px;
        width: 100% !important;
        font-family: 'latolight', sans-serif;
        border: 1px solid ;
        margin: 5px 10px 5px 10px;
        white-space: nowrap;
    }
    .choice span:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    .price{
        margin: 10px;
    }
    /* cart item */



        /* total */
        .total{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content:  space-evenly;
            margin: 35px 0px 0px 0px;
    }
        .total h3{
            margin-left: 70px;
            font-size: 25px;
            font-family: 'avenirregular', sans-serif;
        }
    
        .total p{
            font-family: 'latoregular', sans-serif;
            display: flex;
            flex-direction: row;
            margin-left: 120px;
        }
    
      
    
    
        .total div:last-child{
            display: flex;
            flex-direction: column;
            align-self: right !important;
            justify-self: right !important;
        }

        .total div:last-child span{
            justify-self: center;
        }
        .total form button{
            font-size: 30px;
            padding: 10px 60px 10px 60px;
            width: fit-content !important;
        }
        
        /* total */

}



/* media query */
@media screen and (max-width: 440px) {
    h2{
        font-size: 25px;
    }
    /* cart item */
.item{  
    display: flex;
    margin: 10px;
    font-family: 'aveniregular', sans-serif ;
    }

    .item img{
        margin-right: 20px;
        width: 100px;
    }
    
    .item h3{
        font-size: 15px;
    }

    .att{
        font-weight: 500;
        font-size: 15px;
    }
    
    .desc{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
    }
    
    .desc div{
        margin: 10px !important;
    }
    
    .choice span{
        font-size: 15px;
        padding: 9px;
        width: 100% !important;
        font-family: 'latolight', sans-serif;
        border: 1px solid ;
        margin: 5px 10px 5px 10px;
        white-space: nowrap;
    }
    .choice span:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    .price{
        margin: 10px;
    }
    /* cart item */



        /* total */
        .total{
            display: flex;
            flex-direction: column !important   ;
            justify-content: center;
            justify-content:  space-evenly;
            margin: 35px 0px 0px 0px;
    }
        .total h3{
            margin-left: 70px;
            font-size: 25px;
            font-family: 'avenirregular', sans-serif;
        }
    
        .total p{
            font-family: 'latoregular', sans-serif;
            display: flex;
            flex-direction: row;
            margin-left: 70px;
        }
    
      
    
    
        .total div:last-child{
            display: flex;
            flex-direction: column;
            align-self: right !important;
            justify-self: right !important;
        }

        .total div:last-child span{
            justify-self: center;
        }
        .total form button{
            font-size: 30px;
            padding: 10px 60px 10px 60px;
            width: fit-content !important;
        }
        
        /* total */

}