.container{
    min-height: 500px;
    margin-top: 74px;
    display: flex;
}

/* info */
.info{
    width: 60%;
    min-height: 500px;
    margin-top: 70px;
}

.info label{
    font-family: 'latoregular', sans-serif;
    font-size: 30px;
}


.container input{
        height: 45px;
        width: 70%;
        border: 1px solid rgba(0, 0, 0, 0.507);
        border-radius: 7px;
        margin: 10px;
        padding: 15px;
        font-family: 'latoregular', sans-serif;
    }
    
    
    .double{
        display: flex;
        justify-content: space-evenly;
        
    }
    
    .double hr{
        height: 30px;
        width: 1px !important;
        background-color: #000;
        transform: rotate(90);
        position: relative;
        left: -240px;
        top: 15px;
    }

    .double input{
        width: 310px !important;
    }
    
    .info form  {
        display: flex;
        flex-direction: column;
    }
    
    .info form div:nth-child(2) input{
        align-self: center;
    }
    
    
    .info form{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center !important;
    }
    
    form a{
        color: #000;
        font-family: 'latolight', sans-serif !important;
        text-decoration: none; 
        font-size: 20px;
    }
    
    form a:hover{
        color: #E6C229;
    }

    .sinfo input{
        border-radius: 5px;
        width: 20px;
        height: 20px;
        margin: 5px !important;
    }
    .sinfo label{
        font-family: 'latolight', sans-serif !important; 
        font-size: 20px !important;
    }





    /*  items */
    .items{
            min-height: 700px;
            width: 40%;
            background-color: #F0F0F0;
            /* display: flex;
            align-items: center; */
        }

        .item{
            display: flex;
            margin: 10px;
            width: 80%;
        }

        .item div:last-child{
            width: 100%;
        }
        .item img{
            width: 100px;
        }

        .item div h3{
            width: fit-content;
        }

        .desc{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .desc div:first-child{
            justify-self: flex-start;
            align-self: flex-start;
            width: 100%;
        }
        .desc div:last-child{
            justify-self: flex-end;
            align-self: flex-end;
        }

        .desc div{
            width: fit-content;
        }

        .choice span{
            font-family: 'latolight', sans-serif;
        }

        .items hr, .detailscontainer hr{
            margin: 20px;
            transform: rotate(90);
            width: 100%;
            font-size: 20px;
        }


        .detailscontainer div span:last-child{
            display: flex;
            justify-content: flex-end;
        }
        .detailscontainer div{
            margin: 50px;
        }